.canvas-container {
  width: 100%;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: space-between;
}

.buttons button {
  margin-bottom: 20px;
}

.buttons.photo-empty {
  justify-content: center;
}

.start-text {
  text-align: center;
  flex: 0 0 100%;
  font-size: 1.5em;
  margin-bottom: 2em;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-right: 20px;
}

.upload-btn-wrapper .btnr {
  position: relative;
}
.upload-btn-wrapper .btnr + span {
  padding: 5px;
  font-weight: normal;
}

.upload-btn-wrapper input[type=file] {
  font-size: 42px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.refresh-icon {
  margin-right: 0.5em;
}

.bottom-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom-buttons button {
  margin-bottom: 20px;
}

#slogan-canvas {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .bottom-buttons {
    flex-direction: column;
  }
}

