.back-button {
    font-size: 0.5em;
    margin-right: 20px;
}

.privacy-policy h1 {
    margin-bottom: 2em;
}

.privacy-policy p {
    margin-bottom: 4em;
}

@media screen and (max-width: 768px) {
    .back-button {
        font-size: 0.4em;
        margin-right: 20px;
    }

    .privacy-policy h1 {
        margin-bottom: 1.3em;
    }

    .privacy-policy p {
        margin-bottom: 2em;
    }
}